html {
    background-color: #f3f3f3;
    font-family: Roboto, Arial, sans-serif;
    overflow-y: scroll;
    font-weight: 300;
}

body {
    margin: 0;
    color: #666666;
    height: 100%;
}

li {
    line-height: 1.75;
}
